.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userDetailsInputDiv {
  margin: auto;
      width: 50%;
      border: 1px dashed;
      padding: 10px;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #89b7e5;
}

.spoof-header {
  //background-color: #427df4;
  display: top;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #89b7e5;
  border: 1px dashed;
}

.mainDiv {
  //background-color: #79d622;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid;
}
